Line_chatbot/RAG_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1560,
        100
      ],
      "id": "2d210192-7228-4e87-a5a6-ad7fc35efca3",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "85257153-8508-4949-a0a2-b40bb6993234",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -660,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index",
        "height": 806.6556079800943,
        "width": 978.0454109366399,
        "color": 7
      },
      "id": "727c4fb9-eaf3-42ed-a8b2-688272cc0ba5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store.   These are passed to the model to formulate an answer ",
        "height": 849.4411596574598,
        "width": 795.4336844920119,
        "color": 4
      },
      "id": "944f78e3-fd73-463d-880f-30ac0d3dd420",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "81bed604-19d9-4d59-8306-6016962b6a5c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -660,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "query": "={{ $json.body.text + 如果有參考資料，幫我在回覆下面附上}}",
        "options": {
          "systemPromptTemplate": "Use the following pieces of context to answer the users question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n{context}"
        }
      },
      "id": "1efd6a24-e0a3-4581-bf30-0ff265c922a9",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        -20,
        120
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "0109cf33-efab-4f24-aab6-e96c14d61807",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        160,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileSelector": "/tmp/external_data/汪汪.txt",
        "options": {}
      },
      "id": "f79449ab-8e4d-4c4e-ba4c-69bda4ec68fa",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1280,
        100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "96dbfa59-b7d9-4741-9529-92b86cd6aa55",
      "name": "In-Memory Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        160,
        500
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "clearStore": true
      },
      "id": "86287df6-192e-4686-9969-ff5cc2bb4e82",
      "name": "In-Memory Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        -1060,
        100
      ]
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -1020,
        420
      ],
      "id": "3948a01a-d6bf-4d79-b537-16ccb8a3bded",
      "name": "Embeddings Cohere"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        20,
        340
      ],
      "id": "435fc405-bd5a-43d5-a8a3-3f36af48f2c7",
      "name": "Groq Chat Model",
      "notes": "使用繁體中文"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        260,
        680
      ],
      "id": "a046add6-33e9-4ae9-824e-9c6c5f9c3d9a",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "dFSmpsTB6XlY0YzR",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "path": "170accfe-f167-4f24-813e-63b437adaf29",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        120
      ],
      "id": "b4fd22de-612d-4a44-8367-569b112e35a1",
      "name": "Webhook",
      "webhookId": "170accfe-f167-4f24-813e-63b437adaf29"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        120
      ],
      "id": "7a64546b-9963-4833-9dee-72a3a2ec0006",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "In-Memory Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "In-Memory Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In-Memory Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5738a628-2a70-4262-8876-f148b08f07f3",
  "meta": {
    "instanceId": "9c9d4a0c93ed46bb0675db00b83488b06214fc497337ef6dcab13a42355fa11c"
  },
  "id": "WEleuO7CU4ZAR2Mr",
  "tags": []
}